.container{
    display:table;
    width:90%;
    border-collapse: collapse;
    }
}

.table-row{  
     display:table-row;
}

.col_name{
    display:table-cell;
    border: 1px;
    width:360px;
}
.col_size{
    display:table-cell;
    border: 1px;
    width:80px;
    color:black;
}
.col_status{
    display:table-cell;
    border: 1px;
    width:30px;
    color:black;
}
.col_date{
    display:table-cell;
    border: 1px;
    width:30px;
    color:black;
}
